/* Shared styles */
body {
    font-family: 'Work Sans', sans-serif;
}

.primary-btn {
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

.bottom-margin {
    margin-bottom: 128px;
}

.fixed-padding {
    padding: 0px 240px 0px 240px;
}

.text-pink {
    color: #E55473;
}

/* Header styles */
.header {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 240px 0px 240px;
}

.header-content>h1 {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.header-content>p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 32px;
}

/* Featured Flower Section */
.featured-section>h3,
.instagram-section>h3 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.featured-section>p,
.instagram-section>p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0 646px 48px 646px;
}

.featured-flowers-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-flowers-container p {
    text-align: center;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}

.pink-flower {
    width: 310px;
    height: 410px;
    padding: 115px 70px 0 70px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.red-flower {
    width: 310px;
    height: 410px;
    padding: 115px 70px 0 70px;    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.yellow-flower {
    width: 310px;
    height: 410px;
    padding: 115px 70px 0 70px;    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/* delivery-section */
.delivery-section {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0px 240px 128px 240px;
}

.delivery-section div {
    padding: 86px 0;
}

/* Hot deals section */
.hot-deals-section {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 240px 0px 240px;
}

.hot-deals-info {
    text-align: center;
    max-width: 585px;
}

.hot-deals-info h3 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.hot-deals-info p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

.hot-deals-section img {
    margin: 100px 0;
}

/* Instagram Section */
.flower-collage {
    display: flex;
    justify-content: space-between;
}

/* latest deals section */
.latest-deals-section {
    border-radius: 8px;
    background: url('../images/Rectangle\ 9.png'), lightgray 0px -203.444px / 100% 213.755% no-repeat;
    margin: 0px 240px 128px 240px;
    text-align: center;
}

.latest-deals-section h3 {
    font-size: 40px;
    font-weight: 800;
    padding-top: 122px;
    margin-bottom: 24px;
}

.latest-deals-section p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.coupon-form {
    padding-bottom: 122px;
}

.coupon-form input[type="email"] {
    margin-bottom: 25px;
    padding: 22px 35px;
    color: #757575;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    width: 40%;
}

/* Bonus Section */
.photo-gallary-section {
    margin-bottom: 190px;
}

.photo-gallary-section h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
}
.photo-collage{
    margin-right: -5px;
}

.photo-collage img {
    width: 342px;
    height: 396px;
    margin-right: 6px;
}

.neg-margin {
    margin-bottom: -100px;
}

/* Footer Section */
footer {
    background: #111010;
    text-align: center;
}

.footer-section h3 {
    padding-top: 128px;
    color: rgba(255, 255, 255, 0.90);
    font-size: 48px;
    font-weight: 800;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    padding: 0 649px;
}

.footer-copywrite {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
    padding-bottom: 128px;
}